.verde{
    background-color: chartreuse;
    height: 50px;
}
.rojo{
    background-color: red;

}
.rosa{
    background-color: palevioletred;
    height: 40px;
}
.naranja{
    background-color: coral;
    height: 100px;
}
.azul{
    background-color: darkblue;
    height: 30px;
}
div{
    border: 2px solid white;
}